.navbar{
	background-color: #fafafa;
}

.quem-somos{
	background-color: blue;
	margin: 0px;
	padding: 10px;
	color: #fafafa;
}

.parceiros{
	background-color: green;
	margin: 0px;
	padding: 10px;
	color: #fafafa;
}

